.select-layer-form-container {
    width: min(1280px, 100%);
    padding: 60px 16px;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin: 0 auto;
}

.select-layer-form-container .preview-container {
    width: 50%;
    aspect-ratio: 1 / 1;
    height: auto;
    border: 2px solid #666;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-layer-form-container .preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.select-layer-form-container .layer-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.select-layer-form-container .layer-form .layer-form-group .layer-group-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
}

.select-layer-form-container .layer-form .layer-form-group .layer-group-items {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.select-layer-form-container .layer-form .layer-form-group .layer-group-items img {
    width: max(100px, 10%);
    cursor: pointer;
    border: 1px solid #666;
    box-sizing: border-box;
}

.select-layer-form-container .layer-form .layer-form-group .layer-group-items img:hover {
    border: 2px solid #666;
}

.select-layer-form-container .layer-form .layer-form-group .layer-group-items img.selected {
    border: 2px solid #f76300;
}